
<div class="tilesContainer">
    <div class="line">
        <div class="systemTiles ">
            <div class="systemTilesContentContainer">
                <a [routerLink]="['/timeoff']">
                    <div class="systemTilesContent">
                        <i class="fas fa-calendar-times fa-3x"></i>
                    </div>
                    <span class="textStyle">Time Off</span>
                </a>
            </div>
        </div>
        <div class="systemTiles ">
            <div class="systemTilesContentContainer">
                <a [routerLink]="['/overtime']">
                    <div class="systemTilesContent">
                        <i class="fas fa-clock fa-3x"></i>
                    </div>
                    <span class="textStyle">Overtime</span>
                </a>
            </div>
        </div>
        <div class="systemTiles ">
            <div class="systemTilesContentContainer">
                <a [routerLink]="['/payslip']">
                    <div class="systemTilesContent">
                        <i class="fas fa-paperclip fa-3x"></i>
                    </div>
                    <span class="textStyle">Payslip</span>
                </a>
            </div>
        </div>
        <div class="systemTiles ">
            <div class="systemTilesContentContainer">
                <a [routerLink]="['/myinfo']">
                    <div class="systemTilesContent">
                        <i class="fas fa-address-card fa-3x"></i>
                    </div>
                    <span class="textStyle">My Profile</span>
                </a>
            </div>
        </div>
        <div class="systemTiles ">
            <div class="systemTilesContentContainer">
                <a [routerLink]="['/skills']">
                    <div class="systemTilesContent">
                        <i class="fas fa-desktop fa-3x"></i>
                    </div>
                    <span class="textStyle">Skills</span>
                </a>
            </div>
        </div>
        <div class="systemTiles ">
            <div class="systemTilesContentContainer">
                <a [routerLink]="['/goals']">
                    <div class="systemTilesContent">
                        <i class="fas fa-universal-access fa-3x"></i>
                    </div>
                    <span class="textStyle">Goals</span>
                </a>
            </div>
        </div>
        <div class="systemTiles ">
            <div class="systemTilesContentContainer">
                <a [routerLink]="['/request']">
                    <div class="systemTilesContent">
                        <i class="fas fa-file-alt fa-3x"></i>
                    </div>
                    <span class="textStyle">Requests</span>
                </a>
            </div>
        </div>
        <div class="systemTiles ">
            <div class="systemTilesContentContainer">
                <a [routerLink]="['/performance']">
                    <div class="systemTilesContent">
                        <i class="fab fa-connectdevelop fa-3x"></i>
                    </div>
                    <span class="textStyle">Performance</span>
                </a>
            </div>
        </div>
    </div>
</div>
