/*Header*/
.header-bar {
    background-color: #292c2f;
    box-shadow: 0 1px 1px #ccc;
    padding: 20px 40px;
    height: 80px;
    color: #ffffff;
    box-sizing: border-box;
}

.header-bar .header-limiter {
    max-width: 1200px;
    text-align: center;
    margin: 0 auto;
}

/* Logo */

.header-bar .header-limiter h1 {
    float: left;
    font: normal 28px Cookie, Arial, Helvetica, sans-serif;
    line-height: 40px;
    margin: 0;
}

.navbar-brand {
    flex-direction: row;
}

/* The header links */

.header-bar .header-limiter a {
    color: #ffffff;
    text-decoration: none;
}


@media all and (max-width: 800px) {

    .header-bar .header-limiter h1 {
        font-size: 24px;
    }

    .header-bar .header-limiter nav a {
        padding: 0 5px;
    }

    .header-bar .header-limiter nav {
        margin-left: 20px;
    }
}

@media all and (max-width: 600px) {

    .header-bar .header-limiter nav {
        display: none;
    }
}

.welcome-user {
    font: 14px Arial, Helvetica, sans-serif;
    list-style: none;
    line-height: 1;
    float: right;
    line-height: 50px;
}

.welcome-user-element {
    display: inline-block;
    margin-left: 15px;
    opacity: 0.9;
}

.welcome-user-element span {
    color: #ffffff;
}

@media all and (max-width: 600px) {

    .header-bar {
        padding: 25px;
        height: 85px;
    }

    .header-bar .header-limiter h1 {
        float: none;
        margin: -8px 0 2px;
        text-align: center;
        font-size: 24px;
        line-height: 1;
    }

    .header-bar .header-limiter ul {
        display: block;
    }
}

a:hover, a:focus {
    color: black;
    border-bottom: 2px solid orangered;
    text-decoration: none;
}

/*End Header*/
